<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d25faa43e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/index.css' %}">
    <title>Todo App</title>
</head>
<body>
    <div id="mainbox">
        <p class="titlebox"><a href="/">Todo List</a></p>{% comment %} <span id="changebtn" value="light" onclick="dark_or_light(this)"> .</span> {% endcomment %}
        <div id="createbox">
            <a href="{% url 'create' %}"><i class="fa-solid fa-plus"></i></a>
        </div>

        {% block content %}

        {% endblock %}

    </div>
    <script src="{% static 'core/index.js' %}"></script>
</body>
</html>