{% extends 'core/base.html' %}

{% block content %}

    {% for todo in todos %}
    <div id="contentbox">
        <p id="content_title">
            {% if todo.done %}
            <a href="{{todo.pk}}" class="done">{{todo.title}}</a>
            {% else %}
            <a href="{{todo.pk}}">{{todo.title}}</a>
            {% endif%}
            {% if todo.important %}
            <i class="fa-solid fa-exclamation"></i>
            {% endif %}
        </p>
        <div class="btn"><a href="{{todo.pk}}/update"><i class="fa-solid fa-pen-to-square"></i></a></div>
        <div class="btn"><a href="{{todo.pk}}/done"><i class="fa-solid fa-square-check"></i></a></div>
        <div class="btn"><a href="{{todo.pk}}/delete"><i class="fa-solid fa-trash"></i></a></div>
    </div>
    {% endfor %}

{% endblock %}