*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
#changebtn{
    cursor: pointer;
    font-size: 4rem;
    color: blue;
}
#mainbox{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
.titlebox{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px lightgray solid;
    line-height: 6rem;
}
#createbox{
    width: 30vw;
    height: 2rem;
    border: 1px lightgray solid;
    border-radius: 15px;
    margin: 10px auto 0 auto;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
#contentbox{
    width: 80vw;
    height: 4rem;
    border: 2px lightgray solid;
    border-radius: 15px;
    margin: 20px auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
#content_title{
    margin-left: 3vw;
    flex-grow: 10;
}
.btn{
    margin-right: 2vw;
}
.fa-exclamation{
    color: red;
}
.done{
    text-decoration: line-through;
    text-decoration-style: double;
}